<div *ngIf="!loading && !error && movies.length > 0" class="movie-list-container">
  <table class="movie-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Runtime</th>
        <th>Rating</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.name }}</td>
        <td *ngIf="movie.release_date">{{ formatDate(movie.release_date) }}</td>
        <td *ngIf="movie.runtime">{{ movie.runtime }} mins</td>
        <td *ngIf="movie.rating">{{ movie.rating }}</td>
        <td *ngIf="movie.deck">{{ stripHtml(movie.deck) }}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
    <button *ngFor="let page of getPaginationPages()" [class.active]="page === currentPage"
      (click)="onPageChange(page)">{{ page }}</button>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>

  <div class="page-summary">
    Showing {{ (currentPage - 1) * itemsPerPage + 1 }} -
    {{ getMin(currentPage * itemsPerPage, totalItems) }} of {{ totalItems }}
  </div>
</div>